{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Log in!'|trans }}
{% endblock %}

{% block body %}
	<div class="absolute top-6 left-6 z-14">
    <a class="flex items-center space-x-3 hover:space-x-4 transition-all duration-200">
        <img src="{{ asset('images/joy_pharma.png') }}" alt="Joy Pharma Logo" 
             class="h-14 w-auto drop-shadow-md hover:h-11 transition-all duration-200">
        <span class="text-3xl font-bold text-gray-900 hover:text-blue-600 transition-colors duration-200">
            Joy Pharma
        </span>
    </a>
</div>

	<div
		class="h-screen grid grid-cols-1 gap-[10px] w-full md:grid-cols-2 overflow-hidden">
		<!-- Colonne de gauche - Formulaire -->
		<div class="flex items-center justify-center py-8 lg:py-0">
			<form method="post" class="w-full max-w-sm px-4">
				<twig:ui:card:root class="w-full">
					<twig:ui:card:header>
						<twig:ui:card:title class="text-2xl">{{ 'Login'|trans }}</twig:ui:card:title>
						<twig:ui:card:description>
							{{ 'Enter your email below to login to your account.'|trans }}
						</twig:ui:card:description>
					</twig:ui:card:header>

					<twig:ui:card:content class="grid gap-4">
						{% if error %}
							<twig:ui:alert:root variant="destructive">
								<twig:ui:alert:title>{{ 'Error'|trans }}</twig:ui:alert:title>
								<twig:ui:alert:description>{{ error.messageKey|trans(error.messageData, 'security') }}</twig:ui:alert:description>
							</twig:ui:alert:root>
						{% endif %}

						<div class="grid gap-2">
							<twig:ui:label:root for="email">{{ 'Email'|trans }}</twig:ui:label:root>
							<twig:ui:input:default id="email" type="email" name="email" placeholder="{{ 'm@example.com'|trans }}" required="required"/>
						</div>
						<div class="grid gap-2">
							<twig:ui:label:root for="password">{{ 'Password'|trans }}</twig:ui:label:root>
							<twig:ui:input:default id="password" name="password" type="password" required="required"/>
						</div>
					</twig:ui:card:content>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<twig:ui:card:footer>
						<twig:ui:button:root type="submit" class="w-full">{{ 'Sign in'|trans }}</twig:ui:button:root>
					</twig:ui:card:footer>
				</twig:ui:card:root>
			</form>
		</div>

		<!-- Image -->
		<div class="w-full h-full flex items-center justify-center overflow-hidden">
			<img src="{{ asset('images/dashboard.avif') }}" alt="Login background" class="w-full h-full object-cover shadow-2xl"/>
		</div>
	</div>
{% endblock %}
