<div {{ attributes }}>
    {{ form_start(form, { attr: {
        class: 'space-y-4',
        'id': 'product-form'
    } }) }}
    {{ form_row(form.name) }}

    <div class="items-center justify-center gap-2 mt-6 hidden turbo-frame:flex">
        <twig:ui:button:root href="{{ path('admin_genre') }}" variant="outline">
            {{ 'Discard'|trans }}
        </twig:ui:button:root>
        <twig:ui:button:root formnovalidate>{{ 'Save Genre'|trans }}</twig:ui:button:root>
    </div>

    {{ form_end(form) }}
</div>