<header class="sticky top-0 z-30 flex h-14 items-center gap-4 border-b bg-background px-4 sm:static sm:h-auto sm:border-0 sm:bg-transparent sm:px-6">
    <twig:ui:sheet:root side="left">
        <twig:ui:sheet:trigger>
            <twig:ui:button:root size="icon" variant="outline" class="sm:hidden">
                <twig:ux:icon name="lucide:panel-left" class="h-5 w-5"/>
                <span class="sr-only">Toggle Menu</span>
            </twig:ui:button:root>
        </twig:ui:sheet:trigger>
        <twig:ui:sheet:content class="sm:max-w-xs">
            <nav class="grid gap-6 text-lg font-medium">
                <a href="#"
                   class="group flex h-[50px] w-[50px] shrink-0 items-center justify-center gap-2"
                >
                    <img src="{{ asset('images/icon.png') }}"
                         alt="Logo"
                         class="h-[50px] w-[50px] transition-all group-hover:scale-110"
                    />
                    <span class="sr-only">Acme Inc</span>
                </a>

                {{ knp_menu_render('admin_top_menu', {
                    'template': 'admin/shared/mobile-menu.html.twig'
                }) }}
            </nav>
        </twig:ui:sheet:content>
    </twig:ui:sheet:root>
    <twig:admin:breadcrumb menu="admin_top_menu" class="hidden md:flex"/>
    <twig:ui:dropdown-menu:root placement="bottom-start" class="relative ml-auto">
        <twig:ui:dropdown-menu:trigger class="flex">
            <twig:ui:button:root variant="outline" size="icon" class="overflow-hidden rounded-full">
                <img src="{{ asset('images/placeholder-user.png') }}"
                     width="36"
                     height="36"
                     alt="Avatar"
                     class="overflow-hidden rounded-full"
                />
            </twig:ui:button:root>
        </twig:ui:dropdown-menu:trigger>
        <twig:ui:dropdown-menu:content>
            <twig:ui:dropdown-menu:label>{{ 'My Account'|trans }}</twig:ui:dropdown-menu:label>
            <twig:ui:dropdown-menu:separator/>
            <twig:ui:dropdown-menu:item>{{ 'Settings'|trans }}</twig:ui:dropdown-menu:item>
            <twig:ui:dropdown-menu:item>{{ 'Support'|trans }}</twig:ui:dropdown-menu:item>
            <twig:ui:dropdown-menu:separator/>
            <twig:ui:dropdown-menu:item>
                <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
            </twig:ui:dropdown-menu:item>
        </twig:ui:dropdown-menu:content>
    </twig:ui:dropdown-menu:root>
</header>
