<div>
    {{ form_row(item.quantity, {
        'label': 'Quantity',
        'attr': {
            'min': 1,
            'placeholder': '1',
            'data-action': 'change->order-total#itemChanged input->order-total#itemChanged'
        }
    }) }}
</div>
<div class="md:col-span-2 space-y-2">
    {{ form_label(item.product, 'Product') }}
    {{ form_widget(item.product, {
        'attr': {
            'class': 'select2-enable',
            'data-action': 'change->order-total#itemChanged'
        }
    }) }}
    {{ form_help(item.product) }}
    {{ form_errors(item.product) }}
</div>
<div>
    {{ form_row(item.store, {
        'label': 'Store',
        'attr': {
            'class': 'select2-enable',
            'data-action': 'change->order-total#itemChanged'
        }
    }) }}
</div>

