<div {{ attributes }}>
    {{ form_start(form, { attr: {
        class: 'space-y-4',
        'id': 'product-form'
    } }) }}
    {{ form_row(form.name) }}
    {{ form_row(form.code) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.manufacturer) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.form) }}
    {{ form_row(form.unitPrice) }}
    {{ form_row(form.totalPrice) }}
    {{ form_row(form.currency) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.unit) }}
    {{ form_row(form.images) }}
    {{ form_row(form.isActive) }}
    <div class="items-center justify-center gap-2 mt-6 hidden turbo-frame:flex">
        <twig:ui:button:root href="{{ path('admin_product') }}" variant="outline">
            {{ 'Discard'|trans }}
        </twig:ui:button:root>
        <twig:ui:button:root formnovalidate>{{ 'Save Product'|trans }}</twig:ui:button:root>
    </div>
    {{ form_end(form) }}
</div>