{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'Create Product'|trans }}{% endblock %}

{% block content %}
    <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-8 w-[85rem]">
        <div class="mx-auto grid w-full max-w-6xl gap-6">
            <div class="flex items-center gap-4">
                <twig:ui:button:root href="{{ path('admin_product') }}" variant="outline" size="icon" class="h-8 w-8">
                    <twig:ux:icon name="radix-icons:chevron-left" class="h-4 w-4"/>
                    <span class="sr-only">{{ 'Back'|trans }}</span>
                </twig:ui:button:root>
                <h1 class="flex-1 text-3xl font-bold tracking-tight">
                    {{ 'Create Product'|trans }}
                </h1>
                <div class="hidden items-center gap-2 md:flex">
                    <twig:ui:button:root variant="outline" size="sm" href="{{ path('admin_product') }}">
                        {{ 'Cancel'|trans }}
                    </twig:ui:button:root>
                    <twig:ui:button:root type="submit" form="product-form" size="sm" data-turbo-submits-with="Creating...">
                        {{ 'Save Product'|trans }}
                    </twig:ui:button:root>
                </div>
            </div>

            <div class="grid gap-6">
                <twig:ui:card:root>
                    <twig:ui:card:header>
                        <twig:ui:card:title>{{ 'Product Information'|trans }}</twig:ui:card:title>
                        <twig:ui:card:description>
                            {{ 'Fill in the form below to create a new product.'|trans }}
                        </twig:ui:card:description>
                    </twig:ui:card:header>
                    <twig:ui:card:content>
                        <twig:admin:product-form :initialFormData="product" :form="form"/>
                    </twig:ui:card:content>
                </twig:ui:card:root>
            </div>

            <div class="flex items-center justify-end gap-2 md:hidden">
                <twig:ui:button:root variant="outline" size="sm" href="{{ path('admin_product') }}">
                    {{ 'Cancel'|trans }}
                </twig:ui:button:root>
                <twig:ui:button:root type="submit" form="product-form" size="sm" data-turbo-submits-with="Creating...">
                    {{ 'Save Product'|trans }}
                </twig:ui:button:root>
            </div>
        </div>
    </main>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="refresh"></turbo-stream>
{% endblock %}
