{%- block form_widget -%}
    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock form_widget -%}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block form_rows -%}
    {% for child in form|filter(child => not child.rendered) %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_rows -%}

{% block form_row %}
    {%- if compound is defined and compound -%}
        {%- set element = 'div' -%}
    {%- endif -%}

    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {%- set row_class = row_class|default(row_attr.class|default('space-y-2')|trim) -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: row_class})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{% endblock %}

{% block form_errors %}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="text-[0.8rem] font-medium text-destructive">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{% endblock %}

{% block form_help %}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: ([help_attr.class|default(''), 'text-[0.8rem] text-muted-foreground help-text'] | tailwind_merge)|trim }) -%}

        <p id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- block('form_help_content') -}}
        </p>
    {%- endif -%}
{% endblock %}

{% block form_widget_simple %}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}

    {% set attributes = {id, name: full_name} %}

    {%- if disabled %} {% set attributes = attributes|merge({disabled: 'disabled'}) %} {% endif -%}
    {%- if required %} {% set attributes = attributes|merge({required: 'required'}) %} {% endif -%}
    {%- if value is not empty %} {% set attributes = attributes|merge({value: value}) %} {% endif -%}

    {%- for attrname, attrvalue in attr -%}
        {%- if attrname in ['placeholder', 'title'] -%}
            {% set attributes = attributes|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
        {%- elseif attrvalue is same as(true) -%}
            {% set attributes = attributes|merge({(attrname): attrname}) %}
        {%- elseif attrvalue is not same as(false) -%}
            {% set attributes = attributes|merge({(attrname): attrvalue}) %}
        {%- endif -%}
    {%- endfor -%}

    {% if errors|length > 0 %}
        {% set attributes = attributes|merge({class: (attributes.class|default('') ~ ' border border-destructive focus:ring-destructive focus-visible:ring-destructive text-destructive')|trim}) %}
    {% endif %}

    <twig:ui:input:default {{ ...attributes }} type="{{ type }}"></twig:ui:input:default>
{% endblock %}

{% block form_label %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}

        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}

        {% if errors|length > 0 %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' text-destructive')|trim}) %}
        {% endif %}

        {% set attributes = {} %}
        {%- for attrname, attrvalue in label_attr -%}
            {%- if attrname in ['placeholder', 'title'] -%}
                {% set attributes = attributes|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
            {%- elseif attrvalue is same as(true) -%}
                {% set attributes = attributes|merge({(attrname): attrname}) %}
            {%- elseif attrvalue is not same as(false) -%}
                {% set attributes = attributes|merge({(attrname): attrvalue}) %}
            {%- endif -%}
        {%- endfor -%}

        <twig:ui:label:root {{ ...attributes }}>
            {{ block(outerBlocks.form_label_content) }}
        </twig:ui:label:root>
    {%- endif -%}
{% endblock %}

{%- block percent_widget -%}
    {%- set type = 'number' -%}
    {{ block('form_widget_simple') }}
{%- endblock percent_widget -%}

{%- block percent_label -%}
    {%- if label is not same as(false) -%}
        {% set label_attr = label_attr|merge({'for': id}) %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}

        {% if errors|length > 0 %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' text-destructive')|trim}) %}
        {% endif %}

        {% set attributes = {} %}
        {%- for attrname, attrvalue in label_attr -%}
            {%- if attrname in ['placeholder', 'title'] -%}
                {% set attributes = attributes|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
            {%- elseif attrvalue is same as(true) -%}
                {% set attributes = attributes|merge({(attrname): attrname}) %}
            {%- elseif attrvalue is not same as(false) -%}
                {% set attributes = attributes|merge({(attrname): attrvalue}) %}
            {%- endif -%}
        {%- endfor -%}

        <twig:ui:label:root {{ ...attributes }}>
            {{ block(outerBlocks.form_label_content) }} {% if symbol %}({{ symbol|default('%') }}){% endif %}
        </twig:ui:label:root>
    {%- endif -%}
{%- endblock percent_label -%}

{%- block money_widget -%}
    {%- set type = 'number' -%}
    {{ block('form_widget_simple') }}
{%- endblock money_widget -%}

{%- block money_label -%}
    {%- if label is not same as(false) -%}
        {% set label_attr = label_attr|merge({'for': id}) %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}

        {% if errors|length > 0 %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' text-destructive')|trim}) %}
        {% endif %}

        {% set attributes = {} %}
        {%- for attrname, attrvalue in label_attr -%}
            {%- if attrname in ['placeholder', 'title'] -%}
                {% set attributes = attributes|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
            {%- elseif attrvalue is same as(true) -%}
                {% set attributes = attributes|merge({(attrname): attrname}) %}
            {%- elseif attrvalue is not same as(false) -%}
                {% set attributes = attributes|merge({(attrname): attrvalue}) %}
            {%- endif -%}
        {%- endfor -%}

        <twig:ui:label:root {{ ...attributes }}>
            {% set currency = money_pattern[:1] %}
            {{ block(outerBlocks.form_label_content) }} {% if currency %}({{ currency|default('€') }}){% endif %}
        </twig:ui:label:root>
    {%- endif -%}
{%- endblock money_label -%}

{%- block textarea_widget -%}
    {% set attributes = {id, name: full_name} %}

    {%- if disabled %} {% set attributes = attributes|merge({disabled: 'disabled'}) %} {% endif -%}
    {%- if required %} {% set attributes = attributes|merge({required: 'required'}) %} {% endif -%}
    {%- if value is not empty %} {% set attributes = attributes|merge({value: value}) %} {% endif -%}

    {%- for attrname, attrvalue in attr -%}
        {%- if attrname in ['placeholder', 'title'] -%}
            {% set attributes = attributes|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
        {%- elseif attrvalue is same as(true) -%}
            {% set attributes = attributes|merge({(attrname): attrname}) %}
        {%- elseif attrvalue is not same as(false) -%}
            {% set attributes = attributes|merge({(attrname): attrvalue}) %}
        {%- endif -%}
    {%- endfor -%}

    {% if errors|length > 0 %}
        {% set attributes = attributes|merge({class: (attributes.class|default('') ~ ' border border-destructive focus-visible:ring-destructive text-destructive')|trim}) %}
    {% endif %}

    <twig:ui:input:textarea {{ ...attributes }}>{{ value }}</twig:ui:input:textarea>
{%- endblock textarea_widget -%}

{# Native choice #}
{%- block _choice_widget -%}
    {% if expanded %}
        {{- block('_choice_widget_expanded') -}}
    {% else %}
        {{- block('_choice_widget_collapsed') -}}
    {% endif %}
{%- endblock _choice_widget -%}

{%- block _choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        {% endfor -%}
    </div>
{%- endblock _choice_widget_expanded -%}

{%- block _choice_widget_collapsed -%}
    {%- if (required is defined and required) and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }} {% if multiple %} multiple="multiple"{% endif %} {{ stimulus_controller('ui--input') }}
            class="hidden">
        {%- if placeholder is not none -%}
            <option value=""{% if placeholder_attr|default({}) %}{% with { attr: placeholder_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if (required is defined and required) and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('_choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {%- set render_preferred_choices = false -%}
        {{- block('_choice_widget_options') -}}
    </select>
{%- endblock _choice_widget_collapsed -%}

{%- block _choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup
                    label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('_choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans(choice.labelTranslationParameters, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock _choice_widget_options -%}
{# Native choice #}

{%- block choice_widget_collapsed -%}
    {%- if (required is defined and required) and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}

    {% set attrs = {id, name: full_name} %}
    {% if multiple %}{% set attrs = attrs|merge({multiple: true}) %}{% endif %}
    {% if (required is defined and required) %}{% set attrs = attrs|merge({required: true}) %}{% endif %}
    {% if disabled %}{% set attrs = attrs|merge({disabled: true}) %}{% endif %}

    {%- for attrname, attrvalue in attr -%}
        {%- if attrname in ['placeholder', 'title'] -%}
            {% set attrs = attrs|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
        {%- elseif attrvalue is same as(true) -%}
            {% set attrs = attrs|merge({(attrname): attrname}) %}
        {%- elseif attrvalue is not same as(false) -%}
            {% set attrs = attrs|merge({(attrname): attrvalue}) %}
        {%- endif -%}
    {%- endfor -%}

    {% set isSearchable = attr['data-searchable'] is defined and attr['data-searchable'] == 'true' %}
    
    <twig:ui:select:root {{ ...attrs }} :target="attrs.id" :searchable="isSearchable">
        {% with {id: attrs.id, full_name: attrs.name, required: attrs.required ?? false} %}{{ block(outerBlocks._choice_widget) }}{% endwith %}

        {% set triggerAttrs = { class:'w-full' } %}
        {% if errors|length > 0 %}
            {% set triggerAttrs = triggerAttrs|merge({class: (triggerAttrs.class|default('w-full') ~ ' border border-destructive focus:ring-destructive text-destructive')|trim}) %}
        {% endif %}

        <twig:ui:select:trigger {{ ...triggerAttrs }} >
            {% if multiple %}
                <div class="flex justify-between items-center w-full">
                    <div class="flex flex-wrap items-center space-x-1">
                        {% for val in value[:2] %}
                            {% set currentValue = val|filter_choice(choices) %}
                            {% with {currentValue} %}
                                <twig:ui:badge:root>
                                    {{ currentValue.label|trans(currentValue.labelTranslationParameters, choice_translation_domain) }}
                                    {{ ux_icon('lucide:x', {
                                        class: 'ml-2 h-4 w-4 cursor-pointer',
                                        'data-value': currentValue.value,
                                        ...stimulus_action('ui--select', 'removeItem', 'click')
                                    }) }}
                                </twig:ui:badge:root>
                            {% endwith %}
                        {% endfor %}

                        {% if value|length > 2 %}
                            <twig:ui:badge:root>
                                + {{ value|length - 2 }}
                            </twig:ui:badge:root>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% set currentValue = value|filter_choice(choices) %}

                {% if currentValue is not null %}
                    <twig:ui:select:value id="{{ attrs.id }}">
                        {{ currentValue.label|trans(currentValue.labelTranslationParameters, choice_translation_domain) }}
                    </twig:ui:select:value>
                {% else %}
                    <twig:ui:select:value
                            placeholder="{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}"
                            id="{{ attrs.id }}"/>
                {% endif %}
            {% endif %}
        </twig:ui:select:trigger>

        {% with {content: outerBlocks.choice_widget_options} %}
            <twig:ui:select:content>
                {% if isSearchable %}
                    <twig:ui:select:search placeholder="Search products..." />
                {% endif %}
                
                {%- if preferred_choices|length > 0 -%}
                    {% set options = preferred_choices %}
                    {% set render_preferred_choices = true %}

                    {{- block(content) -}}

                    {%- if choices|length > 0 and separator is not none -%}
                        <twig:ui:select:separator/>
                    {%- endif -%}
                {%- endif -%}
                {%- set options = choices -%}
                {%- set render_preferred_choices = false -%}

                {{- block(content) -}}
            </twig:ui:select:content>
        {% endwith %}
    </twig:ui:select:root>

{%- endblock choice_widget_collapsed -%}

{% block choice_widget_options %}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <twig:ui:select:group>
                {% set options = choice %}
                <twig:ui:select:label>
                    {{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}
                </twig:ui:select:label>
                {{- block(content) -}}
            </twig:ui:select:group>
        {%- else -%}
            {% set attr = choice.attr %}
            {% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %}
                {% set attr = attr|merge({ selected: 'selected' }) %}
            {% endif %}
            <twig:ui:select:item {{ ...attr }} value="{{ choice.value }}">
                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans(choice.labelTranslationParameters, choice_translation_domain) }}
            </twig:ui:select:item>
        {%- endif -%}
    {% endfor %}
{% endblock %}

{% block checkbox_row %}
    {%- set row_attr = row_attr|merge({class: ([row_attr.class|default(''), 'space-y-2'] | tailwind_merge)|trim }) -%}

    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block checkbox_label %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}

        {% set class = '' %}
        {% if errors|length > 0 %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' text-destructive')|trim}) %}
            {% set class = 'border-destructive data-[state=checked]:bg-destructive data-[state=checked]:text-destructive-foreground' %}
        {% endif %}

        {% set attributes = {} %}
        {%- for attrname, attrvalue in label_attr -%}
            {%- if attrname in ['placeholder', 'title'] -%}
                {% set attributes = attributes|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
            {%- elseif attrvalue is same as(true) -%}
                {% set attributes = attributes|merge({(attrname): attrname}) %}
            {%- elseif attrvalue is not same as(false) -%}
                {% set attributes = attributes|merge({(attrname): attrvalue}) %}
            {%- endif -%}
        {%- endfor -%}

        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}

        <div class="flex flex-row items-start space-x-3 space-y-0">
            <twig:ui:checkbox:root id="{{ id }}" class="{{ class }}">
                <twig:ui:checkbox:indicator/>
            </twig:ui:checkbox:root>

            {{- form_widget(form, widget_attr) -}}
            <div class="space-y-2 leading-none">
                <twig:ui:label:root {{ ...attributes }}>
                    {{ block(outerBlocks.form_label_content) }}
                </twig:ui:label:root>
                {{- form_help(form) -}}
            </div>
        </div>
    {%- endif -%}
{% endblock %}

{%- block checkbox_widget -%}
    <input type="checkbox"
            {{ block('widget_attributes') }}
            {% if checked %} checked="checked"{% endif %}
            value="1"
           aria-hidden="true"
           tabindex="-1"
           style="opacity: 0; position: absolute; margin: 0; pointer-events: none;"
    />
{%- endblock checkbox_widget -%}

{%- block button_row -%}
    {%- set row_attr = row_attr|merge({class: ([row_attr.class|default(''), 'space-y-2'] | tailwind_merge)|trim }) -%}

    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}

    {% set attributes = {id, name: full_name} %}
    {% if disabled %}
        {% set attributes = attributes|merge({disabled: 'disabled'}) %}
    {% endif -%}

    {%- for attrname, attrvalue in attr -%}
        {%- if attrname in ['placeholder', 'title'] -%}
            {% set attributes = attributes|merge({(attrname): translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }) %}
        {%- elseif attrvalue is same as(true) -%}
            {% set attributes = attributes|merge({(attrname): attrname}) %}
        {%- elseif attrvalue is not same as(false) -%}
            {% set attributes = attributes|merge({(attrname): attrvalue}) %}
        {%- endif -%}
    {%- endfor -%}

    <twig:ui:button:root type="{{ type|default('button') }}" {{ ...attributes }}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
    </twig:ui:button:root>
{%- endblock button_widget -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {{ block('button_widget') }}
{%- endblock submit_widget -%}

{%- block reset_widget -%}
    {%- set type = type|default('reset') -%}
    {{ block('button_widget') }}
{%- endblock reset_widget -%}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}