{% extends 'admin/dialog-layout.html.twig' %}

{% block title %}{{ 'Create Brand'|trans }}{% endblock %}

{% block content %}
    {% if not app.request.headers.has('turbo-frame') %}
        <main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8 w-[50rem]">
            <div class="mx-auto grid lg:max-w-[85rem] w-full flex-1 auto-rows-max gap-4">
                <div class="flex items-center gap-4">
                    <twig:ui:button:root href="{{ path('admin_brand') }}" variant="outline" size="icon" class="h-7 w-7">
                        <twig:ux:icon name="radix-icons:chevron-left" class="h-4 w-4"/>
                        <span class="sr-only">{{ 'Back'|trans }}</span>
                    </twig:ui:button:root>
                    <h1 class="flex-1 shrink-0 whitespace-nowrap text-xl font-semibold tracking-tight sm:grow-0">
                        {{ 'Brand'|trans }}
                    </h1>
                    <div class="hidden items-center gap-2 md:ml-auto md:flex">
                        <twig:ui:button:root variant="outline" size="sm" href="{{ path('admin_brand') }}">
                            {{ 'Discard'|trans }}
                        </twig:ui:button:root>
                        <twig:ui:button:root formnovalidate type="submit" form="brand-form" size="sm">{{ 'Save Brand'|trans }}
                        </twig:ui:button:root>
                    </div>
                </div>
                <div class="grid gap-4 lg:gap-8">
                    <div class="grid auto-rows-max items-start gap-4 lg:col-span-2 lg:gap-8">
                        {% with {_form: block('form')} %}
                            <twig:ui:card:root>
                                {{ _form|raw }}
                            </twig:ui:card:root>
                        {% endwith %}
                    </div>
                </div>
                <div class="flex items-center justify-center gap-2 md:hidden">
                    <twig:ui:button:root variant="outline" size="sm">
                        {{ 'Discard'|trans }}
                    </twig:ui:button:root>
                    <twig:ui:button:root formnovalidate type="submit" form="brand-form" size="sm">{{ 'Save Brand'|trans }}</twig:ui:button:root>
                </div>
            </div>
        </main>
    {% else %}
        {{ block('form') }}
    {% endif %}
{% endblock %}

{% block form %}
    <twig:ui:card:header class="turbo-frame:p-0">
        <twig:ui:card:title>{{ 'Brand information'|trans }}</twig:ui:card:title>
        <twig:ui:card:description>
            {{ 'Fill in the form below to create a new brand.'|trans }}
        </twig:ui:card:description>
    </twig:ui:card:header>
    <twig:ui:card:content class="turbo-frame:p-0 turbo-frame:pt-6">
        <twig:admin:brand-form :initialFormData="brand" :form="form"/>
    </twig:ui:card:content>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="refresh"></turbo-stream>
{% endblock %}
