{% trans_default_domain 'messages' %}

{% extends '@KnpMenu/menu.html.twig' %}
{% import "@KnpMenu/menu.html.twig" as knp_menu %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {{ block('children') }}
    {% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('mobileClass') is not empty ? [item.attribute('mobileClass')] : [] %}

        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}

        {%- if matcher.isAncestor(item, options.matchingDepth) %}
            {%- set attributes = attributes|merge({'data-state': 'active'}) %}
        {%- endif %}

        {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
            {% with {span: block('spanElement'), children: block('childrenList') } %}
                <twig:ui:collapsible:root {{ ...attributes }} class="grid gap-1">
                    <twig:ui:collapsible:trigger class="flex items-center gap-3 [&[data-state=active]>svg]:rotate-90">
                        {{ span|raw }}
                        <twig:ux:icon name="radix-icons:chevron-right" class="mr-2.5 text-muted-foreground hover:text-foreground ml-auto h-4 w-4 transition-all"/>
                    </twig:ui:collapsible:trigger>
                    <twig:ui:collapsible:content>
                        <div class="grid gap-4 bg-gray-100/40 px-4 py-2 dark:bg-gray-800/40 mt-4">
                            {{ children|raw }}
                        </div>
                    </twig:ui:collapsible:content>
                </twig:ui:collapsible:root>
            {% endwith %}
        {% else %}
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {{ block('spanElement') }}
            {%- endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{%  block childrenList %}
    {% set currentItem = item %}

    {% for item in currentItem.children %}
        {% with {link: block('linkElement'), span: block('spanElement'), label: block('label') } %}
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ link|raw }}
            {%- else %}
                {{ span|raw }}
            {%- endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}

{% block linkElement %}
    {%- set childrenClasses = item.linkAttribute('mobileClass') is not empty ? [item.linkAttribute('mobileClass')] : [] %}
    {%- set childrenClasses = childrenClasses|merge([ matcher.isCurrent(item) ? 'text-foreground' : '' ]) %}
    {%- set linkAttributes = item.linkAttributes|filter((v, k) => k != 'class' or k != 'mobileClass') %}
    {%- set linkAttributes = linkAttributes|merge({'class': ['flex items-center gap-4 px-2.5 text-muted-foreground hover:text-foreground']|merge(childrenClasses)|join(' ')|tailwind_merge }) %}

    <a href="{{ item.uri }}" {{ knp_menu.attributes(linkAttributes) }}>
        {{ block('icon') }}
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}
    {%- set childrenClasses = item.labelAttribute('mobileClass') is not empty ? [item.labelAttribute('mobileClass')] : [] %}
    {%- set childrenClasses = childrenClasses|merge([ matcher.isCurrent(item) ? 'text-foreground' : '' ]) %}
    {%- set labelAttributes = item.labelAttributes|filter((v, k) => k != 'class' or k != 'mobileClass') %}
    {%- set labelAttributes = labelAttributes|merge({'class': ['flex items-center gap-4 px-2.5 text-muted-foreground hover:text-foreground']|merge(childrenClasses)|join(' ')|tailwind_merge }) %}

    <span {{ knp_menu.attributes(labelAttributes ?? []) }}>
        {{ block('icon') }}
        {{ block('label') }}
    </span>
{% endblock %}

{% block label %}
    {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
        {{ item.label|trans|raw }}
    {% else %}
        {{ item.label|trans }}
    {% endif %}
{% endblock %}

{% block icon %}
    {% if item.getExtra('icon') %}
        {{ ux_icon(item.getExtra('icon'), {class: 'w-5 h-5'}|merge(item.getExtra('iconAttributes') ?? [])) }}
    {% endif %}
{% endblock %}