{% trans_default_domain 'messages' %}

{% extends '@KnpMenu/menu.html.twig' %}
{% import "@KnpMenu/menu.html.twig" as knp_menu %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {{ block('children') }}
    {% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}

        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')|tailwind_merge}) %}
        {%- endif %}

        {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
            {% with {span: block('spanElement'), children: block('childrenList') } %}
                <twig:ui:dropdown-menu:root placement="right" trigger="hover" {{ ...attributes }}>
                    <twig:ui:dropdown-menu:trigger>
                        {{ span|raw }}
                    </twig:ui:dropdown-menu:trigger>
                    <twig:ui:dropdown-menu:content class="w-40" {{ ...listAttributes }}>
                        <twig:ui:dropdown-menu:group>
                            {{ children|raw }}
                        </twig:ui:dropdown-menu:group>
                    </twig:ui:dropdown-menu:content>
                </twig:ui:dropdown-menu:root>
            {% endwith %}
        {% else %}
            {% with {link: block('linkElement'), span: block('spanElement'), label: block('label') } %}
                <twig:ui:tooltip:root placement="right" {{ ...attributes }}>
                    <twig:ui:tooltip:trigger>
                        {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                            {{ link|raw }}
                        {%- else %}
                            {{ span|raw }}
                        {%- endif %}
                    </twig:ui:tooltip:trigger>
                    <twig:ui:tooltip:content side="right">{{ label|raw }}</twig:ui:tooltip:content>
                </twig:ui:tooltip:root>
            {% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block childrenList %}
    {% set currentItem = item %}
        <twig:ui:dropdown-menu:label>{{ currentItem.label }}</twig:ui:dropdown-menu:label>
        {% for item in currentItem.children %}
            {% with {link: block('childLinkElement'), span: block('spanElement'), label: block('label') } %}

                {%- set childrenClasses = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
                {%- set childrenClasses = childrenClasses|merge([ matcher.isCurrent(item) ? 'bg-accent text-accent-foreground' : '' ]) %}
                {%- set linkAttributes = item.linkAttributes|merge({'class': childrenClasses|merge(['md:w-full md:h-full'])|join(' ')|tailwind_merge }) %}

                <twig:ui:dropdown-menu:item {{ ...linkAttributes }}>
                    {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                        {{ link|raw }}
                    {%- else %}
                        {{ span|raw }}
                    {%- endif %}
                </twig:ui:dropdown-menu:item>
            {% endwith %}
        {% endfor %}
{% endblock %}

{% block childLinkElement %}
    <a href="{{ item.uri }}" class="w-full flex space-x-2 items-center" data-turbo-frame="main-content">
        {{ block('icon') }}
        <span>{{ block('label') }}</span>
    </a>
{% endblock %}

{% block linkElement %}
    {%- set childrenClasses = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
    {%- set childrenClasses = childrenClasses|merge([ matcher.isCurrent(item) ? 'bg-accent text-accent-foreground' : '' ]) %}
    {%- set linkAttributes = item.linkAttributes|merge({'class': ['flex h-9 w-9 items-center justify-center rounded-lg text-muted-foreground transition-colors hover:text-foreground md:h-8 md:w-8']|merge(childrenClasses)|join(' ')|tailwind_merge }) %}
    <a href="{{ item.uri }}" {{ knp_menu.attributes(linkAttributes) }} data-turbo-frame="main-content">
        {{ block('icon') }}
        <span class="sr-only">{{ item.label|trans }}</span>
    </a>
{% endblock %}

{% block spanElement %}
    {%- set childrenClasses = item.labelAttribute('class') is not empty ? [item.labelAttribute('class')] : [] %}

    {%- if matcher.isAncestor(item, options.matchingDepth) %}
        {%- set childrenClasses = childrenClasses|merge(['bg-accent text-accent-foreground']) %}
    {%- endif %}

    {%- set labelAttributes = item.labelAttributes|merge({'class': ['flex h-9 w-9 items-center justify-center rounded-lg text-muted-foreground transition-colors hover:text-foreground md:h-8 md:w-8']|merge(childrenClasses)|join(' ')|tailwind_merge }) %}

    <span {{ knp_menu.attributes(labelAttributes ?? []) }}>
        {{ block('icon') }}
        <span class="sr-only">{{ item.label|trans }}</span>
    </span>
{% endblock %}

{% block label %}
    {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
        {{ item.label|trans|raw }}
    {% else %}
        {{ item.label|trans }}
    {% endif %}
{% endblock %}

{% block icon %}
    {% if item.getExtra('icon') %}
        {% set class = item.level > 1 ? 'w-4 h-4' : 'w-5 h-5' %}
        {{ ux_icon(item.getExtra('icon'), {class}|merge(item.getExtra('iconAttributes') ?? [])) }}
    {% endif %}
{% endblock %}

